<html></html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div class="container">
            <h1>Message Details</h1>
            <div class="message-info">
                <p class="message-text"><%= message.message %></p>
                <div class="message-meta">
                    <p>Posted by: <%= message.name %></p>
                    <p>Date: <%= message.date %></p>
                </div>
            </div>
            <a href="/" class="back-link">â† Back to all messages</a>
        </div>
    </body>
</html>