<html>
    <head>
        <title>New Message</title>
    </head>
    <body>
        <h2>New Message</h2>
        <form method="POST" action="/new">
            <label for="user">Name: </label>
            <input id="user" name="user" type="text">
            <label for="message">Message: </label>
            <input id="message" name="message" type="text">
            <button type="submit">Submit</button>
         </form>
    </body>
</html>